kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: terway-controlplane
rules:
  - apiGroups: [ "" ]
    resources:
      - nodes
      - nodes/status
    verbs:
      - patch
  - apiGroups: [ "" ]
    resources:
      - pods
      - nodes
      - namespaces
      - configmaps
    verbs:
      - get
      - list
      - watch
  - apiGroups: [ "" ]
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - network.alibabacloud.com
    resources:
      - podenis
      - podnetworkings
      - nodes
      - noderuntimes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - network.alibabacloud.com
    resources:
      - networkinterfaces
      - networkinterfaces/status
    verbs:
      - "*"
  - apiGroups:
      - network.alibabacloud.com
    resources:
      - podenis
      - podenis/status
      - podnetworkings
      - podnetworkings/status
      - nodes
      - nodes/status
    verbs:
      - patch
      - update
  - apiGroups:
      - network.alibabacloud.com
    resources:
      - podenis
    verbs:
      - create
      - delete
  - apiGroups:
      - network.alibabacloud.com
    resources:
      - nodes
    verbs:
      - create
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - create
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
      - update
      - patch
    resourceNames:
      - networkinterfaces.network.alibabacloud.com
      - podnetworkings.network.alibabacloud.com
      - podenis.network.alibabacloud.com
      - nodes.network.alibabacloud.com
      - noderuntimes.network.alibabacloud.com
      - ciliumclusterwidenetworkpolicies.cilium.io
      - ciliumendpoints.cilium.io
      - ciliumendpointslices.cilium.io
      - ciliumexternalworkloads.cilium.io
      - ciliumidentities.cilium.io
      - ciliumnetworkpolicies.cilium.io
      - ciliumnodes.cilium.io
      - ciliumnodeconfigs.cilium.io
      - ciliumcidrgroups.cilium.io
      - ciliumpodippools.cilium.io
      - ciliumloadbalancerippools.cilium.io
      - ciliuml2announcementpolicies.cilium.io
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
      - validatingwebhookconfigurations
    verbs:
      - patch
      - get
    resourceNames:
      - terway-controlplane
  - apiGroups:
      - cilium.io
    resources:
      - "*"
    verbs:
      - "*"