apiVersion: v1
kind: ConfigMap
metadata:
  name: terway-controlplane
  labels:
  {{- include "terway-controlplane.labels" . | nindent 4 }}
data:
  cilium-config.yaml: |
    k8s-namespace: kube-system
    identity-gc-interval: 10m
    identity-heartbeat-timeout: 20m
    gops-port: 0
    ipam: delegated-plugin
    enable-cilium-endpoint-slice: true
    set-cilium-node-taints: false
    set-cilium-is-up-condition: false
    remove-cilium-node-taints: false
    k8s-client-qps: 20
    k8s-client-burst: 30
    operator-api-serve-addr: 127.0.0.1:9234
    unmanaged-pod-watcher-interval: 0
  ctrl-config.yaml: |
    leaseLockName: "terway-controller-lock"
    leaseLockNamespace: "kube-system"
    controllerNamespace: "kube-system"
    controllerName: "terway-controlplane"
    healthzBindAddress: "{{.Values.terwayControlplane.healthzBindAddress}}"
    clusterDomain: "{{.Values.terwayControlplane.clusterDomain}}"
    leaderElection: true
    webhookPort: {{.Values.terwayControlplane.webhookPort}}
    certDir: "/var/run/webhook-cert"
    regionID: "{{ .Values.terwayControlplane.regionID }}"
    clusterID: "{{ .Values.terwayControlplane.clusterID }}"
    vpcID: "{{ .Values.terwayControlplane.vpcID }}"
    ipStack: "{{ .Values.terwayControlplane.ipStack }}"
    enableTrunk: {{.Values.terwayControlplane.enableTrunk}}
    enableTrace: {{.Values.terwayControlplane.enableTrace}}
    centralizedIPAM: {{.Values.centralizedIPAM}}
    {{- with .Values.terwayControlplane.controllers }}
    controllers:
    {{- toYaml . | nindent 4 }}
    {{- end }}