apiVersion: v1
kind: ConfigMap
metadata:
  name: eni-config
  namespace: kube-system
data:
  eni_conf: |
    {
      "version": "1",
      "max_pool_size": 5,
      "min_pool_size": 0,
      "credential_path": "/var/addon/token-config",
      "vswitches": {{.PodVswitchId}},
      "eni_tags": {"ack.aliyun.com":"{{.ClusterID}}"},
      "service_cidr": "{{.ServiceCIDR}}",
      "security_group": "{{.SecurityGroupId}}",
      "ip_stack": "{{.IPStack}}",
      "vswitch_selection_policy": "ordered"
    }
  10-terway.conf: |
    {
      "cniVersion": "0.4.0",
      "name": "terway",
      "capabilities": {"bandwidth": true},
{{if .Datapath}}
      "eniip_virtual_type": "IPVlan",
      "host_stack_cidrs": ["169.254.20.10/32"],
{{end}}
      "type": "terway"
    }
  disable_network_policy: "{{.DisableNetworkPolicy}}"
  in_cluster_loadbalance: "true"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: terway-controlplane
  namespace: kube-system
data:
  ctrl-config.yaml: |
    leaseLockName: "terway-controller-lock"
    leaseLockNamespace: "kube-system"
    controllerNamespace: "kube-system"
    controllerName: "terway-controlplane"
    healthzBindAddress: "0.0.0.0:8080"
    clusterDomain: "cluster.local"
    leaderElection: true
    webhookPort: 0
    disableWebhook: true
    certDir: "/var/run/webhook-cert"
    regionID: "{{ .RegionID }}"
    clusterID: "{{ .ClusterID }}"
    vpcID: "{{ .VPCID }}"
    ipStack: "{{ .IPStack }}"
    enableTrunk: false
    enableTrace: false
    metricsBindAddress: "0"
    centralizedIPAM: true
    controllers:
    - pod-eni
    - pod
    - pod-networking
    - node
    - multi-ip-node
    - multi-ip-pod
