kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Release.Name }}
rules:
  - apiGroups: [ "" ]
    resources:
      - pods
      - nodes
      - namespaces
      - configmaps
    verbs:
      - get
      - list
      - watch
  - apiGroups: [ "" ]
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups: [ "network.alibabacloud.com" ]
    resources: [ "*" ]
    verbs: [ "*" ]
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - create
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
      - update
      - patch
    resourceNames:
      - podnetworkings.network.alibabacloud.com
      - podenis.network.alibabacloud.com
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
      - validatingwebhookconfigurations
    verbs:
      - patch
      - get
    resourceNames:
      - {{ .Release.Name }}
